:host {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	main {
		padding: 16px;
		flex: 1;

		background:linear-gradient(330deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)),
		#000 no-repeat fixed center url('./../assets/global-bg.jpg');
		background-size:cover;
	}
}
